.links {
    font-family: "Coolvetica";
    font-size: 20px;
}




.blc_links {
    margin-top: 20px;
}

.client_download {
    margin-left: 20px;
}

.client_tweaks {
    margin-left: 20px;
    margin-top: 10px;
}

.wiki_links {
    margin-top: 20px;
}

.other_links {
    margin-top: 20px;
}